[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

[packages]

invoke = "*"
pytest = "*"
pytest-xdist = "*"
requests = ">=2.20.0"
pyaml = "*"
geopy = "*"
Unidecode = "*"


[requires]

python_version = "3.6"
